// purple-colors-map
$purple-100: #e9e2f3;
$purple-200: #300871;
$purple-300: #6d01f7;
$purple-400: #6e01f8;
$purple-500: #7000ff;
$purple-600: #380c7e;
$purple-700: #28085c;
$purple-800: #1f0f39;
$purple-900: #11002d;

// scss-docs-start theme-color-variables
$white: #ffffff;
$dark: #000000;
$primary: $white;

// theme-colors-map
$theme-colors: (
  'primary-100': $purple-100,
  'primary-200': $purple-200,
  'primary-300': $purple-300,
  'primary-400': $purple-400,
  'primary-500': $purple-500,
  'primary-600': $purple-600,
  'primary-700': $purple-700,
  'primary-800': $purple-800,
  'primary-900': $purple-900,
  'white': $white,
  'dark': $dark
);

// spacer-variables-maps
// 取得index = px/4; (例如：24px，24/4=6)
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  13: $spacer * 3.25,
  14: $spacer * 3.5,
  15: $spacer * 3.75,
  16: $spacer * 4,
  17: $spacer * 4.25,
  19: $spacer * 4.75,
  20: $spacer * 5,
  24: $spacer * 6,
  26: $spacer * 6.5,
  30: $spacer * 7.5,
  31: $spacer * 7.75,
  34: $spacer * 8.5,
  36: $spacer * 9,
  39: $spacer * 9.75,
  40: $spacer * 10,
  54: $spacer * 13.5,
  100: $spacer * 25
);

$body-color: $white;
// $body-secondary-color: $dark;
$body-bg: $purple-700;

$link-hover-decoration: underline;

$paragraph-margin-bottom: 0.75rem;

$border-color: $white;

$border-radius: 0.25rem;

$font-family-sans-serif:
  'Noto Sans TC',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  'Noto Sans',
  'Liberation Sans',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

$font-size-base: 1rem;
// 取得index = px/4; (例如：24px，24/4=6)
$font-sizes: (
  4: $font-size-base,
  5: $font-size-base * 1.25,
  6: $font-size-base * 1.5,
  8: $font-size-base * 2,
  10: $font-size-base * 2.5,
  12: $font-size-base * 3,
  16: $font-size-base * 4,
  24: $font-size-base * 6,
  32: $font-size-base * 8,
  100: $font-size-base * 24
);

$headings-margin-bottom: 0;
$headings-font-weight: 700;
$headings-line-height: 1.5;

$line-height-base: 1.5;

// Input設定
$input-padding-y: 0.5rem;
$input-padding-x: 1rem;
$input-font-size: 1.25rem;
$input-font-weight: 700;

$input-bg: $white;
$input-color: $dark;
$input-border-color: $dark;
$input-border-width: 0;
$input-border-radius: 0;
$input-placeholder-color: $purple-800;

// form-floating-variables
$form-floating-padding-y: 0.5rem;
$form-floating-line-height: 1.5;

// 取得index = px*2.5; (例如：24px，24*2.5=60)
$ls-spacer: 1rem;
$ls-spacers: (
  0: 0,
  4: $ls-spacer * 0.1,
  12: $ls-spacer * 0.3,
  35: $ls-spacer * 0.875,
  40: $ls-spacer,
  50: $ls-spacer * 1.25,
  60: $ls-spacer * 1.5,
  65: $ls-spacer * 1.625,
  80: $ls-spacer * 2,
  100: $ls-spacer * 2.5,
  110: $ls-spacer * 2.75,
  120: $ls-spacer * 3,
  140: $ls-spacer * 3.5,
  160: $ls-spacer * 4,
  200: $ls-spacer * 5,
  240: $ls-spacer * 6
);

$enable-rfs: false;

$pagination-color: #fff;
$pagination-bg: transparent;
$pagination-border-width: 0;

$pagination-focus-color: #fff;
$pagination-focus-bg: transparent;
$pagination-focus-box-shadow: transparent;

$pagination-hover-color: $purple-500;
$pagination-hover-bg: transparent;

$pagination-active-color: #fff;
$pagination-active-bg: transparent;
